[class*="ground-pane"] {
	filter: grayscale(1);
}

[class*="zoom__scale"] {
    display: none;
}

[class*="controls__control"] > ymaps > [class*="zoom"] {
    height: 7vw !important;
    display: grid;
    gap: 0.5rem;
}

[class*="zoom__plus"] {
    order: 2;
    background-color: #D51317 !important;
    width: 64px !important;
    height: 64px !important;
    background-image: url('../img/icons/map/plus.svg') !important;
    background-repeat: no-repeat;
    background-size: cover;
}

[class*="zoom__minus"] {
    order: 1;
    background-color: #D51317 !important;
    width: 64px !important;
    height: 64px !important;
    background-image: url('../img/icons/map/minus.svg') !important;
    background-repeat: no-repeat;
    background-size: cover;
}

[class*="zoom__icon"] {
    background-image: none !important;
}

[class*="zoom"] > [class*="zoom__button"] {
    position: relative !important;
}

[class*="listbox__panel"] {
    background-color: var(--clr-primary-green) !important;
    margin-top: 0 !important;
    left: -11px !important;
    top: -11px !important;
    padding-left: 0.7vw !important;
    padding-right: 1vw !important;
    padding-top: 1vw !important;
}

[class*="listbox__list"] > ymaps:first-of-type > ymaps > ymaps > ymaps > ymaps > ymaps::before {
    background: url(../img/icons/map/Education.svg) 50% 50% !important;
    background-repeat: no-repeat !important;
    background-size: 60% !important;
}

[class*="listbox__list"] > ymaps:nth-of-type(2) > ymaps > ymaps > ymaps > ymaps > ymaps::before {
    background: url(../img/icons/map/Medicine.svg) 50% 50% !important;
    background-repeat: no-repeat !important;
    background-size: 60% !important;
}

[class*="listbox__list"] > ymaps:nth-of-type(3) > ymaps > ymaps > ymaps > ymaps > ymaps::before {
    background: url(../img/icons/map/Sport.svg) 50% 50% !important;
    background-repeat: no-repeat !important;
    background-size: 60% !important;
}

[class*="listbox__list"] > ymaps:nth-of-type(4) > ymaps > ymaps > ymaps > ymaps > ymaps::before {
    background: url(../img/icons/map/Supermarket.svg) 50% 50% !important;
    background-repeat: no-repeat !important;
    background-size: 60% !important;
}

[class*="listbox__list"] > ymaps:nth-of-type(5) > ymaps > ymaps > ymaps > ymaps > ymaps::before {
    background: url(../img/icons/map/Park.svg) 50% 50% !important;
    background-repeat: no-repeat !important;
    background-size: 60% !important;
}

[class*="listbox__list"] > ymaps:nth-of-type(6) > ymaps > ymaps > ymaps > ymaps > ymaps::before {
    background: url(../img/icons/map/Culture.svg) 50% 50% !important;
    background-repeat: no-repeat !important;
    background-size: 60% !important;
}

[class*="listbox__list"] > ymaps:nth-of-type(7) > ymaps > ymaps > ymaps > ymaps > ymaps::before {
    background: url(../img/icons/map/Shop.svg) 50% 50% !important;
    background-repeat: no-repeat !important;
    background-size: 60% !important;
}

[class*="listbox__list"] > ymaps:nth-of-type(8) > ymaps > ymaps > ymaps > ymaps > ymaps::before {
    background: url(../img/icons/map/Cafe.svg) 50% 50% !important;
    background-repeat: no-repeat !important;
    background-size: 60% !important;
}

[class*="listbox__list"] > ymaps:nth-of-type(9) > ymaps > ymaps > ymaps > ymaps > ymaps::before {
    background: url(../img/icons/map/Spa.svg) 50% 50% !important;
    background-repeat: no-repeat !important;
    background-size: 60% !important;
}

/*кнопка подробнее */
[class*="listbox__list"] > ymaps:nth-of-type(10) > ymaps > ymaps > ymaps > ymaps > ymaps::before {
    background: none !important;
}

[class*="listbox__list"] > ymaps:nth-of-type(10) > ymaps > ymaps > ymaps > ymaps > ymaps {
    color: white;
    border: 1px solid white;
    padding: 0.2vw 1.3vw !important;
    margin-left: 0.5rem !important;
    font-weight: 200 !important;
}

[class*="listbox__list"] > ymaps:nth-of-type(10) > ymaps > ymaps > ymaps > ymaps {
    margin-top: 1vw !important;
    margin-bottom: 1.5vw !important;
}

[class*="listbox__list"] > ymaps  ymaps  ymaps  ymaps  ymaps  ymaps {
    padding-left: 3rem !important;
}

[class*="listbox__button"] {
    display: none !important;
}

[class*="listbox__list"] {
    font-size: clamp(0.5rem, 0.375rem + 0.625vw, 0.875rem);
    color: yellow;
    font-family: 'Geologica', sans-serif;
}

[class*="gototech"] {
    display: none !important;
}

[class*="listbox__list"]:hover {
    background: none !important;
}

/* firefox scrollbar be gone */

#map {
    scrollbar-width: none;
}