body {
    font-family: 'Geologica', sans-serif;
    --clr-primary-red: #d51317;
    --clr-primary-darkred: #AC0F12;
    --clr-primary-green: #009640;
    --clr-primary-darkgreen: #00652b;
    --clr-darkgreygreen:#124147;
    --clr-greygreen: #5F797A;
    --clr-primary-yellow: #ffed00;
    --clr-darkblue: #3D4452;
    --clr-greyscale-0: #ffffff;
    --clr-greyscale-1: #202020;
    --clr-greyscale-2: #eaeaea;
    --clr-greyscale-4: #cecece;
    --clr-greyscale-6: #9d9d9d;
    --clr-greyscale-8: #353535;
    --clr-greyscale-9: #38626B;
    --clr-section-bg: rgb(255, 255, 255);
    --clr-mobile-menu-bg: #F2F4F8;
    --clr-primary-btn-hover: #FFA564;
    --clr-primary-btn-focus: #AD8E62;
    --clr-news-p: #1D1D1B;
    --content-1280: 70rem;
    --content-720: 40rem;
    --content-320: 17rem;
    --fs-12-14: clamp(0.75rem, 0.5893rem + 0.3571vw, 0.875rem);
    --fs-16-18: clamp(1rem, 0.8393rem + 0.3571vw, 1.125rem);
    display: grid;
    place-items: center;
    /* for fixed header */
    padding-top: 60px;
}

.apartament-wrap {
    display: grid;
}

.apartament-wrap > div:first-of-type div span {
    font-size: 12px;
    font-weight: 800;
    line-height: 16px;
    letter-spacing: 0em;
}

.apartament-wrap > div:first-of-type {
    width: var(--content-width);
}

.apartament-wrap > div:first-of-type div {
    display: flex;
    place-items: center;
    margin: 2.25rem 0;
    color: var(--clr-primary-green);
}

.apartament-container {
    display: grid;
    grid-template-columns: 1fr 1.9fr;
    justify-content: space-between;
    gap: 5rem;
}

.apartament-left-item {
    background-color: white;
    display: grid;
    padding: 1.5vw 0.5vw 1.5vw 2vw;
}

.apartament-left-item  h3 {
    font-size: 2vw;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.02em;
    color: var(--clr-primary-green);
    margin-bottom: 0.3rem;
    text-transform: uppercase;
}

.apartament-left-item h5 {
    font-size: 2vmin;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--clr-greyscale-9);
}

.apartament-left-item h2 {
    font-size: 4vmin;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0.05em;
    text-align: left;
    color: var(--clr-greyscale-9);
    margin: 2vw 0 1vw 0;
    text-transform: uppercase;
    text-wrap: nowrap;
}

.apartament-left-item > div:nth-of-type(2) {
    display: flex;
    gap: 0.7rem;
}

.apartament-left-item > div:nth-of-type(2) label, .apartament-left-item-720-chexbox label {
    font-size: 1.1vmin;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    color: var(--clr-greyscale-6);
    border-radius: 16px;
    border: none;
    background-color: var(--clr-greyscale-2);
    width: 8.5vmin;
    height: 3vmin;
    display: grid;
    text-align: center;
    place-items: center;
    cursor: pointer;
}
.apartament-left-item > div:nth-of-type(2) label:hover {
    background-color: var(--clr-primary-btn-hover);
}

[id*="apartament-but"] {
    display: none;
}

[id*="apartament-but-first"]:checked ~ [id*="ap-but-fir"] {
    background-color: var(--clr-primary-btn-focus);
}

[id*="apartament-but-second"]:checked ~ [id*="ap-but-sec"] {
    background-color: var(--clr-primary-btn-focus);
}

.apartament-left-item > div:nth-of-type(3) {
    display: flex;
    justify-content: space-between;
    max-width: 27vw;
    border-bottom: 1px solid var(--clr-greyscale-4);
    margin: 1vw 1vw 1vw 0;
    padding-bottom: 0.2vmin;
}

.apartament-left-item > div:nth-of-type(3) h5 {
    font-size: 2vmin;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--clr-darkgreygreen);
    padding-bottom: 0.3vw;
    max-height: 2vw;
}

.apartament-left-item > div:nth-of-type(5) {
    display: grid;
    gap: 0.5rem;
    margin-top: 1vw;
    max-width: 30vw;
}

.apartament-left-item > div:nth-of-type(5) button:first-of-type {
    background-color: var(--clr-primary-green);
    border: none;
    font-size: 0.8vw;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    color: var(--clr-greyscale-0);
    text-transform: uppercase;
    max-width: 25vmin;
    height: 2.5vmax;
    text-wrap: nowrap;
}

.apartament-left-item > div:nth-of-type(5) button:first-of-type:hover {
    background-color: var(--clr-primary-btn-hover);
    cursor: pointer;
}

.apartament-left-item > div:nth-of-type(5) button:first-of-type:focus {
    background-color: var(--clr-primary-btn-focus);
    border: 2px solid var(--clr-primary-btn-hover);
}

.apartament-left-item > div:nth-of-type(5) button:last-of-type {
    font-size: 0.8vw;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    color: var(--clr-primary-green);
    background-color: white;
    border: 2px solid var(--clr-primary-green);
    width: 20vmin;
    height: 2.5vmax;
    margin-bottom: 1rem;
}

.apartament-left-item > div:nth-of-type(4) button:last-of-type:hover {
    border-color: var(--clr-primary-btn-hover);
    cursor: pointer;
}

.apartament-left-item > div:nth-of-type(4) button:last-of-type:focus {
    border-radius: 14px;
    border-color: var(--clr-primary-green);
    outline: 2px solid var(--clr-primary-btn-hover);
}

.apartament-left-item > div:nth-of-type(5) a, div:nth-of-type(6) a {
    display: flex;
    place-items: center;
    gap: 0.5rem;
    color: var(--clr-greyscale-6);
}

.apartament-left-item > div:nth-of-type(5) span, div:nth-of-type(6) span {
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    font-size: 1.5vmin;
}

.apartament-left-item > div:nth-of-type(5) img, .apartament-left-item > div:nth-of-type(6) img {
    max-width: 2vw;
}

.apartament-left-item > div:last-of-type {
    display: flex;
    gap: 1rem;
    place-items: center;
    justify-content: flex-end;
    margin: 2rem 1rem 0 0;
}

.apartament-left-item > div:last-of-type img {
    width: 3vmin;
    height: 3vw;
}

.section-apartament-tabs {
    padding-right: 0;
    margin-bottom: 2vw;
    place-content: center;
}

.section-apartament-tabs span {
    font-size: 1vw;
}

.apartament-right-item {
    display: grid;
    grid-template-columns: 1.4fr 0.62fr;
    gap: 2rem;
    justify-content: space-between;
    width: 100%;
}

.apartament-img img {
    width: 95%;
    aspect-ratio: 1;
}

/* right first card */


.apartament-right-item > div:first-of-type > div > span {
    font-size: 1vw;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.apartament-right-item-first div img {
    width: 4vw;
}

.apartament-right-item-first div {
    display: flex;
    place-items: end;
    gap: 0.5vw;
}

.apartament-right-item-first div:last-of-type img {
    width: 100%;
}

.apartament-right-item-first div span {
    font-size: var(--fs-12-14);
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    color: var(--clr-greyscale-8);
}


/* right second card */

.apartament-right-item-second {
    background-color: white;
    margin-top: 4vmax;
    display: grid;
    height: 65%;
    width: 100%;
}

.apartament-right-item-second > div:first-of-type > ul h4 {
    display: inline-block;
    font-size: 1.3vmin;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.02em;
    text-align: right;
    color: var(--clr-primary-red);
    text-wrap: nowrap;
}

.apartament-right-item-second > div:first-of-type span {
    background-color: var(--clr-greyscale-6);
    color: white;
    font-size: 1vmin;
    font-weight: 400;
    align-self: center;
    text-wrap: nowrap;
    padding: 0.3vw;
}

.apartament-right-item-second > div:first-of-type li {
    display: flex;
    justify-content: space-between;
    place-items: center;
    padding: 2vw 1vmax 0 1vmax;
}

.apartament-right-item-second > div:nth-of-type(2) > div {
    background-color: var(--clr-primary-red);
    width: 4vmax;
    border-radius: 50%;
    aspect-ratio: 1;
    position: absolute;
    left: -2vmax;
    top: -2vmax;
    display: grid;
    place-content: center;
    color: white;
}

.apartament-right-item-second > div:nth-of-type(2) > div span {
    font-size: 2vw;
    font-weight: 100;
}

.apartament-right-item-second > div:nth-of-type(2) {
    position: relative;
    border-top: 1px solid var(--clr-greyscale-4);

}

.apartament-right-item-second > div:nth-of-type(2) ul {
    display: grid;
    gap: 0.5vw;
    padding: 2vw 1vmax 0 1vmax;
}

.apartament-right-item-second > div:nth-of-type(2) li span:nth-of-type(1) {
    color: var(--clr-primary-red);
    font-weight: 400;
    font-size: 1.2vmin;
    text-wrap: nowrap;
}

.apartament-right-item-second > div:nth-of-type(2) li span:nth-of-type(2) {
    color: var(--clr-greyscale-6);
    font-weight: 400;
    font-size: 1.2vmin;
    text-wrap: nowrap;
}

.apartament-right-item-second > div:nth-of-type(2) li {
    display: flex;
    justify-content: space-between;
}

.apartament-right-item-second a {
    background-color: var(--clr-primary-red);
    color: white !important;
    font-size: 0.8vmin;
    text-wrap: nowrap;
    place-content: center;
    margin: 0 2vmax 1vw 1vmax;
}

.apartament-left-item-720-chexbox {
    display: none;
}

.apartament-left-item-center-720 {
    display: none;
}

.apartament-item-bottom-720 {
    display: none;
}

@media only screen and (max-width: 900px) {
    .apartament-right-item-second > div:first-of-type li {
        padding-left: 0.5vw;
        padding-right: 0.5vw;
    }

    .apartament-right-item-second > div:nth-of-type(2) ul {
        padding: 4vw 0.5vw 0 0.5vw
    }
}

@media only screen and (max-width: 720px) {
    .apartament-container {
        grid-template-columns: 1fr;
    }

    .apartament-left-item {
        padding: 4vw 4vw 3vw 4vw;
    }

    .apartament-left-item > div:first-of-type h5 {
       display: inline;
       margin: 0 0 0 4vw;
    }

    .apartament-left-item h3 {
        display: inline;
        font-size: 5vw;
    }

    .apartament-left-item > div:first-of-type > h2 {
        display: none;
    }
    
    .apartament-left-item-720-chexbox h2 {
        font-size: 5.5vw;
    }

    .apartament-left-item > div:nth-of-type(2) {
        display: none;
    }

    .apartament-left-item-720-chexbox {
        display: flex;
    }

    .apartament-left-item-720-chexbox div {
        display: flex;
        gap: 0.7rem;
        place-items: center;
    }
   
    .apartament-right-item {
        display: none;
    }

    .apartament-left-item > div:nth-of-type(3) {
        max-width: 100%;
        padding-bottom: 1.5vw;
    }

    .apartament-left-item > div:nth-of-type(5) {
        display: flex;
        place-content: center;
        max-width: 100%;
        gap: 1.5rem;
    }

    .apartament-left-item > div:nth-of-type(5) button:first-of-type {
        width: 32vw;
        max-width: 100%;
        height: 5vw;
        font-size: 1.5vw;
    }

    .apartament-left-item > div:nth-of-type(5) button:last-of-type {
        width: 32vw;
        height: 5vw;
        font-size: 1.5vw;
    }

    .apartament-left-item-720-chexbox label {
        width: 10vw;
        height: 3.5vw;
    }

    .apartament-left-item > div:nth-of-type(3) h5 {
        font-size: 2.5vmin;
    }

    .apartament-left-item > div:nth-of-type(6) {
        display: flex;
        gap: 4vw;
        margin: 1.5vw 0 4vw 6.5vw;
    }

    .apartament-left-item > div:nth-of-type(7) {
        display: none;
    }

    .apartament-left-item-center-720 {
        display: grid;
    }

    .section-apartament-tabs-720 {
        padding-right: 0;
        place-content: center;
        margin-bottom: 4vw;
    }

    .section-apartament-tabs-720 span {
        font-size: 2vw !important;
        font-weight: 400 !important;
    }

    .apartament-left-item-center-720{
        margin: 4vw 0;
    }

    .apartament-left-item-center-720 > div:first-of-type {
        display: flex;
        margin-bottom: 5vw;
    }

    .apartament-left-item-center-720 > div:first-of-type > div:first-of-type {
        display: grid;
        place-content: center;
        place-items: center;
        gap: 3vw
    }

    .apartament-left-item-center-720 > div:first-of-type > div:nth-of-type(n+2) {
        margin-left: auto;
        margin-right: auto;
    }

    .apartament-left-item-center-720 > div:first-of-type img {
        width: 100%;
    }

    .apartament-img-720 img {
        height: 50vw;
    }

    .apartaments-right-720 {
        position: absolute;
        right: 4vw;
        background-color: white;
        box-shadow: 5px 6px 9px 5px #BFBFBF40;
    }

    .apartaments-right-720 > div:first-of-type ul li {
        display: grid;
        place-items: end;
        gap: 0.5rem;
    }

    .apartaments-right-720 > div:first-of-type {
        margin: 2vw 3vw 0.5vw;
    }

    .apartaments-right-720 > div:first-of-type ul li h4 {
        color: var(--clr-primary-red);
        font-size: 2.4vw;
    }
    .apartaments-right-720 > div:first-of-type ul li span {
        color: white;
        background-color: var(--clr-greyscale-6);
        padding: 1vw;
    }

    .apartaments-right-720 > div:first-of-type ul li > div:first-of-type ul li h4 {
        color: var(--clr-primary-red);
        font-weight: 500;
        font-size: 2.4vw;
    }

    .apartaments-right-720 > div:nth-of-type(2) {
        margin: 2vw 3vw 4vw 3vw;
        border-top: 1px solid var(--clr-greyscale-4);
    }
    
    .apartaments-right-720 > div:nth-of-type(2) > ul {
        display: grid;
        gap: 0.5rem;
        margin-top: 3vw;
    }
    .apartaments-right-720 > div:nth-of-type(2) > ul li {
        display: flex;
        text-wrap: nowrap;
        gap: 1rem;
        justify-content: space-between;
    }

    .apartaments-right-720 > div:nth-of-type(2) > ul li span:first-of-type {
        color: var(--clr-primary-red);
        font-size: var(--fs-12-14);
    }

    .apartaments-right-720 > div:nth-of-type(2) > ul li span:nth-of-type(2) {
        color: var(--clr-greyscale-6);
        font-size: var(--fs-12-14);
    }

    .apartaments-right-720 a {
        background-color: var(--clr-primary-red);
        font-size: 1.7vw;
        color: white !important;
        margin: 2vw 3vw 4vw 3vw;
        padding: 1vw 0 1vw 0;
        place-content: center;
    }

    .apartaments-right-720 > div:nth-of-type(2) > div:first-of-type {
        background-color: var(--clr-primary-red);
        border-radius: 50%;
        aspect-ratio: 1;
        width: 5vw;
        place-content: center;
        display: grid;
        position: relative;
        left: -5vw;
        top: -2.5vw;
    }

    .apartaments-right-720 > div:nth-of-type(2) > div:first-of-type span {
        color: white;
        text-align: center;
        font-size: 2vw;
        font-weight: 400;
    }

    .apartament-item-bottom-720 {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        padding: 4vw;
    }

    .apartament-item-bottom-720 > div:first-of-type {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-content: center;
        gap: 2rem;
    }

    .apartament-item-bottom-720 > div:first-of-type div span {
        color: var(--clr-greyscale-8);
        font-size: var(--fs-12-14);
        font-weight: 400;
    }

    .apartament-item-bottom-720 > div:first-of-type div {
        display: flex;
        gap: 0.5rem;
        place-items: end;
    }

    .apartament-item-bottom-720 > div:first-of-type div img {
        width: 7vw;
    }

    .apartament-item-bottom-720 > div:nth-of-type(2)  img {
        width: 33vw;
        aspect-ratio: 1;
    }
}