body {
    display: grid;
    place-items: center;
    /* for fixed header */
    padding-top: 60px;
}

.apartament-wrap {
    display: grid;
    width: var(--content-width);
}

.section-lot-card-controls {
    display: none;
}

.apartament-wrap > div:first-of-type div span {
    font-size: 12px;
    font-weight: 800;
    line-height: 16px;
    letter-spacing: 0em;
}

.apartament-wrap > div:first-of-type {
    width: var(--content-width);
}

.apartament-wrap > div:first-of-type div {
    display: flex;
    place-items: center;
    margin: 2.25rem 0;
    color: var(--clr-primary-green);
}

.apartament-container {
    display: grid;
    grid-template-columns: 1fr 1.9fr;
    justify-content: space-between;
    gap: 3rem;
}

.apartament-left-item {
    background-color: white;
    display: grid;
    padding: 1.5rem 1.5rem 1.5rem 2rem;
}

.apartament-left-item  h3 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.02em;
    color: var(--clr-primary-green);
    margin-bottom: 0.3rem;
    text-transform: uppercase;
}

.apartament-left-item h5 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--clr-lot-handle);
}

.apartament-left-item h2 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0.05em;
    text-align: left;
    color: var(--clr-lot-handle);
    margin: 2rem 0 1rem 0;
    text-transform: uppercase;
    white-space: nowrap;
}

.apartament-left-item > div:nth-of-type(2) {
    display: flex;
    gap: 0.7rem;
}

.apartament-left-item > div:nth-of-type(2) label, .apartament-left-item-720-chexbox label {
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    color: var(--clr-greyscale-6);
    border-radius: 16px;
    border: none;
    background-color: var(--clr-greyscale-2);
    width: 6rem;
    height: 2rem;
    display: grid;
    text-align: center;
    place-items: center;
    cursor: pointer;
}
.apartament-left-item > div:nth-of-type(2) label:hover {
    background-color: var(--clr-primary-btn-hover);
}

[id*="apartament-but"] {
    display: none;
}

[id*="apartament-but-first"]:checked ~ [id*="ap-but-fir"] {
    background-color: var(--clr-primary-btn-focus);
}

[id*="apartament-but-second"]:checked ~ [id*="ap-but-sec"] {
    background-color: var(--clr-primary-btn-focus);
}

.apartament-left-item > div:nth-of-type(3) {
    display: flex;
    justify-content: space-between;
    max-width: 27rem;
    border-bottom: 1px solid var(--clr-greyscale-4);
    margin: 1rem 1rem 1rem 0;
    padding-bottom: 0.2rem;
}

.apartament-left-item > div:nth-of-type(3) h5 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--clr-darkgreygreen);
    padding-bottom: 0.3rem;
    max-height: 2rem;
}

.apartament-left-item > div:nth-of-type(5) {
    display: grid;
    gap: 0.5rem;
    margin-top: 1rem;
    max-width: 30rem;
}

.apartament-left-item > div:nth-of-type(5) button:first-of-type {
    background-color: var(--clr-primary-green);
    border: none;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    color: var(--clr-greyscale-0);
    text-transform: uppercase;
    max-width: 25rem;
    height: 2.5rem;
    text-wrap: nowrap;
}

.apartament-left-item > div:nth-of-type(5) button:first-of-type:hover {
    background-color: var(--clr-primary-btn-hover);
    cursor: pointer;
}

.apartament-left-item > div:nth-of-type(5) button:first-of-type:focus {
    background-color: var(--clr-primary-btn-focus);
    border: 2px solid var(--clr-primary-btn-hover);
}

.apartament-left-item > div:nth-of-type(5) button:last-of-type {
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    color: var(--clr-primary-green);
    background-color: white;
    border: 2px solid var(--clr-primary-green);
    max-width: 20rem;
    height: 2.5rem;
    margin-bottom: 1rem;
}

.apartament-left-item > div:nth-of-type(4) button:last-of-type:hover {
    border-color: var(--clr-primary-btn-hover);
    cursor: pointer;
}

.apartament-left-item > div:nth-of-type(4) button:last-of-type:focus {
    border-radius: 14px;
    border-color: var(--clr-primary-green);
    outline: 2px solid var(--clr-primary-btn-hover);
}

.apartament-left-item > div:nth-of-type(5) a, div:nth-of-type(6) a {
    display: flex;
    place-items: center;
    gap: 0.5rem;
    color: var(--clr-greyscale-6);
}

.apartament-left-item > div:nth-of-type(5) span, .apartament-left-item > div:nth-of-type(6) span {
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    font-size: 1rem;
}

.apartament-left-item > div:nth-of-type(6) span {
    font-size: clamp(0.75rem, 0.1579rem + 1.0526vw, 1rem);
}

.apartament-left-item > div:nth-of-type(5) img, .apartament-left-item > div:nth-of-type(6) img {
    max-width: 2rem;
}

.apartament-left-item > div:last-of-type {
    display: flex;
    gap: 1rem;
    place-items: center;
    justify-content: flex-end;
    margin: 2rem 1rem 0 0;
}

.apartament-left-item > div:last-of-type img {
    width: 2rem;
    height: 2rem;
}

.section-apartament-tabs {
    padding-right: 0;
    margin-bottom: 2rem;
    place-content: center;
}

.section-apartament-tabs span {
    font-size: 1rem;
}

.apartament-right-item {
    display: grid;
    grid-template-columns: 1.4fr 0.62fr;
    gap: 2rem;
    justify-content: space-between;
    width: 100%;
}

.apartament-img img {
    width: 95%;
    aspect-ratio: 1;
}

/* right first card */


.apartament-right-item > div:first-of-type > div > span {
    font-size: 1rem;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.apartament-right-item-first div img {
    width: 4rem;
}

.apartament-right-item-first div {
    display: flex;
    place-items: end;
    gap: 0.5rem;
}

.apartament-right-item-first div:last-of-type img {
    width: 100%;
}

.apartament-right-item-first div span {
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    color: var(--clr-greyscale-8);
}


/* right second card */

.apartament-right-item-second {
    background-color: white;
    margin-top: 4rem;
    display: grid;
    height: 65%;
    width: 100%;
}

.apartament-right-item-second > div:first-of-type > ul h4 {
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.02em;
    text-align: right;
    color: var(--clr-primary-red);
    text-wrap: nowrap;
}

.apartament-right-item-second > div:first-of-type span {
    background-color: var(--clr-greyscale-6);
    color: white;
    font-size: 0.7rem;
    font-weight: 400;
    align-self: center;
    text-wrap: nowrap;
    padding: 0.3rem;
}

.apartament-right-item-second > div:first-of-type li {
    display: flex;
    justify-content: space-between;
    place-items: center;
    padding: 2rem 1rem 0 1rem;
}

.apartament-right-item-second > div:nth-of-type(2) > div {
    background-color: var(--clr-primary-red);
    width: 4rem;
    border-radius: 50%;
    aspect-ratio: 1;
    position: absolute;
    left: -2rem;
    top: -2rem;
    display: grid;
    place-content: center;
    color: white;
}

.apartament-right-item-second > div:nth-of-type(2) > div span {
    font-size: 2rem;
    font-weight: 100;
}

.apartament-right-item-second > div:nth-of-type(2) {
    position: relative;
    border-top: 1px solid var(--clr-greyscale-4);

}

.apartament-right-item-second > div:nth-of-type(2) ul {
    display: grid;
    gap: 0.5rem;
    padding: 2rem 1rem 0 1rem;
}

.apartament-right-item-second > div:nth-of-type(2) li span:nth-of-type(1) {
    color: var(--clr-primary-red);
    font-weight: 400;
    font-size: 0.8rem;
    text-wrap: nowrap;
}

.apartament-right-item-second > div:nth-of-type(2) li span:nth-of-type(2) {
    color: var(--clr-greyscale-6);
    font-weight: 400;
    font-size: 0.8rem;
    text-wrap: nowrap;
}

.apartament-right-item-second > div:nth-of-type(2) li {
    display: flex;
    justify-content: space-between;
}

.apartament-right-item-second a {
    background-color: var(--clr-primary-red);
    color: white !important;
    font-size: 0.7rem;
    text-wrap: nowrap;
    place-content: center;
    margin: 0 2rem 1rem 1rem;
    place-content: center;
    display: grid;
}

.apartament-left-item-720-chexbox {
    display: none;
}

.apartament-left-item-center-720 {
    display: none;
}

.apartament-item-bottom-720 {
    display: none;
}

.section-filter {
    padding-top: 33px;
}

.go-back-anchor {
    color: var(--clr-primary-green);
}

.apartament-wrap > div:first-of-type a{
    display: flex;
    align-items: center;
    height: 20px;
    margin-bottom: 22px;
    font-weight: 700;
}


/* section how to buy */

.section-htb {
    overflow: visible;
}

.section-how-to-buy-wrap {
    padding-top: 6rem;
    overflow: visible;
    position: relative;
}

.section-how-to-buy-wrap .section-heading-tabs {
    padding-right: 0;
    grid-auto-flow: initial;
    display: flex;
    margin-top: 1.5rem;
    overflow: none;

}



.section-htb-info-dump {
    margin-block: 4rem 10.625rem;
}


.section-htb-info-dump p {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--clr-greyscale-8) ;
    width: 600px;
    width: 420px;
    width: clamp(26.25rem, 11.7857rem + 32.1429vw, 37.5rem);
}

/* TABS LOGIC */

#sectionHtbMortgageChb:checked ~ .section-wrap .section-heading-tabs span:nth-of-type(1),
#sectionHtb100Chb:checked ~ .section-wrap .section-heading-tabs span:nth-of-type(2) {
    color: var(--clr-primary-green) !important;
    padding-bottom: .75rem;
    border-bottom: 2px solid var(--clr-primary-green);
}

#sectionHtbMortgageChb:checked ~ .section-wrap .section-htb-info-dump,
#sectionHtbMortgageChb ~ .section-wrap .section-htb-lemon {
    display: none;
}

#sectionHtb100Chb:checked ~ .section-wrap .section-htb-info-dump,
#sectionHtb100Chb:checked ~ .section-wrap .section-htb-lemon{
    display: block;
}

#sectionHtb100Chb:checked ~ .section-wrap .section-htb-mortgage-stuff {
    display: none;
}

/* tab 2 */

.section-htb-mortgage-stuff {
    margin-top: 3.25rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: .9fr 1.9fr;
}

.section-htb-sliders {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    padding: 45px;
    border: 1px solid var(--clr-greyscale-6);
    margin-bottom: 100px;
    height: min-content;
}

.section-htb-sliders .noUi-horizontal .noUi-handle {
    background-color: var(--clr-lot-handle);
    transform: translateY(-1px) rotate(45deg);
    right: -7px;
}

.section-htb-sliders .noUi-connect {
    background-color: var(--clr-lot-handle);
    transform: translateY(-1px);
}

.section-htb-sliders .slider-val {
    color: var(--clr-lot-handle);
}

.filter-reset {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: .5rem;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color: var(--clr-primary-green);
    text-wrap: nowrap;
}

/* bank table */

.section-htb-all-programms > span:nth-of-type(1){
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--clr-primary-darkgreen);
    display: inline-block;
    margin-bottom: 20px;
}

.section-htb-all-programms > h3 > span {
    display: none;
}

.section-htb-all-programms > div:first-of-type {
    display: flex;
    justify-content: space-between;
    height: 24px;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--clr-lot-handle);
    padding-bottom: 40px;
    border-bottom: 1px solid var(--clr-greyscale-6);
    margin-bottom: 20px;
}

.section-htb-all-programms > div:first-of-type > div h3, .section-htb-all-programms > div:first-of-type > div span {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--clr-lot-handle);
    
}

.section-htb-all-programms > div:first-of-type div span {
    display: none;
}

.section-htb-mortgage-stuff h3 img {
    transition: transform 350ms ease;
}

#allProgramsMisticalChb:checked + .section-htb-mortgage-stuff h3 img {
    transform: rotate(180deg);
}

.htb-table-head, .htb-table-item {
    display: grid;
    grid-template-columns: 2.5fr 1fr 1fr;
}

.htb-table-head {
    border-bottom: 1px solid var(--clr-primary-darkred);
    padding-block: 0px 12px;
}

.htb-table-head div {
    display: flex;
    gap: 0.75rem;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--clr-greyscale-8);
    place-items: center;
}

.htb-table-head div img {
    max-width: 2vw;
}

.section-htb-table-thingy {
    overflow-y: scroll;
    height: 265px;
    padding-right: 5px;
    transition: all 320ms ease-in-out;
}


#allProgramsMisticalChb:checked + .section-htb-mortgage-stuff .section-htb-table-thingy {
    height: fit-content;
    overflow: hidden;
}

.section-htb-table-thingy::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    border: 2px solid white;
    background-color: #aaa;
    position: relative;
    z-index: -100;
}

.section-htb-table-thingy::-webkit-scrollbar-thumb {
    background-color: var(--clr-primary-darkgreen);
    transform: scaleY(.5);
    position: absolute;
    z-index: 100;

}

.htb-table-item {
    border-bottom: 1px solid var(--clr-greyscale-4);
}

.htb-table-item span, .htb-table-body div:nth-of-type(6) span {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: var(8);
    padding-block: 22px 13px;
}

.htb-table-item span:first-of-type, .htb-table-head > div:first-of-type{
    padding-left: 17px;
}

.htb-table-head div:nth-child(n+2) {
    justify-content: center;
}

.htb-table-item span:nth-of-type(n+2),.htb-table-body div:nth-of-type(6) span:nth-of-type(n+2) {
    text-align: center;
}

.htb-table-item span:nth-of-type(2)::after {
    content: '    %'
}

.htb-table-item span:nth-of-type(3)::after {
    content: '    %'
}
.htb-table-item span:nth-of-type(3)::before {
    content: 'от '
}

.programmsFound {
    display: flex;
    gap: .35rem;
    margin-top: 1.8rem;
}

.programmsFound,#programmsFound {
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--clr-lot-handle);
   
}

#programmsFound {
    font-weight: 700;
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--clr-primary-darkgreen);
}



/* so called LEMON */

.section-htb-lemon {
   transform: translateX(-50%);
}

.section-htb-lemon,.line-overflow-stopm {
    position: absolute;
    width: 400px;
    height: 100%;
    top: 0;
    right: 0px;
    overflow-y: visible;
}

.line-overflow-stopm {
    overflow: hidden;
    width: 120%;
}

.line-overflow-stopm span {
    display: block;
    position: absolute;
    height: 3000px;
    background-color: var(--clr-greyscale-4);
    width: 2px;
    transform: rotate(17.5deg) translate(-60px,-100px) ;
    transform-origin: center center;
}

.lemon-itself img {
    width: 100%;
    height: 100%;
    display: block;
    transform: translate(145px,5px);

}

.lemon-itself {
    width: 35.5rem;
    height: 36.125rem;
}

@media only screen and (max-width: 1100px) {
    .section-htb-lemon {
        transform: translateX(-100px);
     }
}


@media only screen and (max-width: 900px) {
    .apartament-right-item-second > div:first-of-type li {
        padding-left: 0.5vw;
        padding-right: 0.5vw;
    }

    .apartament-right-item-second > div:nth-of-type(2) ul {
        padding: 4vw 0.5vw 0 0.5vw
    }

    .apartament-right-item-second a {
        font-size: 0.8vmin;
    }

    .section-filter-params-item  {
        width: 9rem;
    }

    .apartament-left-item h3 {
        font-size: 1rem;
    }

    .apartament-left-item h5 {
        font-size: 0.6rem;
    }

    .apartament-left-item h2 {
        font-size: 1rem;
        margin: 0 !important;
    }

    .apartament-left-item > div:last-of-type img  {
        width: 1rem;
        height: 1rem;
    }

    .apartament-left-item > div:nth-of-type(3) h5 {
        font-size: 0.6rem;
    }

    .apartament-left-item > div:nth-of-type(5) button:first-of-type, .apartament-left-item > div:nth-of-type(5) button:last-of-type {
        font-size: 0.5rem;
        height: 2rem;
    }

    .apartament-left-item > div:nth-of-type(5) span, .apartament-left-item > div:nth-of-type(6) span {
        font-size: 0.4rem;
    }

    .apartament-left-item > div:nth-of-type(5) img, .apartament-left-item > div:nth-of-type(6) img {
        max-width: 0.6rem;
    }

    .apartament-left-item > div:nth-of-type(2) label {
        font-size: 0.5rem;
        width: 3.5rem;
        height: 1rem;
    }

    .apartament-left-item {
        padding: 1rem 1rem 1rem 1.5rem;
    }

    .apartament-right-item-second > div:first-of-type > ul h4  {
        font-size: 0.6rem;
    }

    .apartament-right-item-second > div:first-of-type span  {
        font-size: 0.5rem;
        padding: 0.1rem;
    }

    .apartament-right-item-second > div:nth-of-type(2) li span:nth-of-type(2) {
        font-size: 0.5rem;
    }

    .apartament-right-item-second > div:nth-of-type(2) li span:nth-of-type(1) {
        font-size: 0.5rem;
    }

    .apartament-right-item-second > div:nth-of-type(2) > div {
        width: 1.5rem;
        left: -0.7rem;
        top: -0.7rem;
    }

    .apartament-right-item-second > div:nth-of-type(2) > div span {
        font-size: 0.6rem;
    }

    .apartament-left-item > div:nth-of-type(3)_ {
        margin-bottom: 0;
    }

    .apartament-left-item > div:last-of-type {
        margin-top: 1rem;
    }

    .apartament-right-item-first div img {
        width: 2rem;
    }


    /* so called LEMON */

    .section-htb-lemon {
    transform: translateX(00px);
}
    
    .lemon-itself img {
        transform: translate(145px,5px);
    }
    
    .lemon-itself {
        width: 21.5625rem;
        height: 21.9375rem;
        transform: translate(40px,100px);
    }

}




@media only screen and (max-width: 720px) {
    .apartament-container {
        grid-template-columns: 1fr;
    }

    .apartament-left-item > div:nth-of-type(5) span, .apartament-left-item > div:nth-of-type(6) span {
        font-size: 0.6rem;
    }

    .apartament-left-item-720-chexbox label {
        font-size: 0.5rem;
    } 

    .apartament-left-item {
        padding: 4vw 4vw 3vw 4vw;
        width: var(--content-width);
    }

    .apartament-left-item > div:first-of-type h5 {
       display: inline;
       margin: 0 0 0 4vw;
    }

    .apartament-left-item h3 {
        display: inline;
        font-size: 5vw;
    }

    .apartament-left-item > div:first-of-type > h2 {
        display: none;
    }
    
    .apartament-left-item-720-chexbox h2 {
        font-size: 5.5vw;
    }

    .apartament-left-item > div:nth-of-type(2) {
        display: none;
    }

    .apartament-left-item-720-chexbox {
        display: flex;
    }

    .apartament-left-item-720-chexbox div {
        display: flex;
        gap: 0.7rem;
        place-items: center;
    }
   
    .apartament-right-item {
        display: none;
    }

    .apartament-left-item > div:nth-of-type(3) {
        max-width: 100%;
        padding-bottom: 1.5vw;
    }

    .apartament-left-item > div:nth-of-type(5) {
        display: flex;
        place-content: center;
        max-width: 100%;
        gap: 1.5rem;
    }

    .apartament-left-item > div:nth-of-type(5) button:first-of-type {
        width: 32vw;
        max-width: 100%;
        height: 5vw;
        font-size: 1.5vw;
    }

    .apartament-left-item > div:nth-of-type(5) button:last-of-type {
        width: 32vw;
        height: 5vw;
        font-size: 1.5vw;
    }

    .apartament-left-item-720-chexbox label {
        width: 10vw;
        height: 3.5vw;
    }

    .apartament-left-item > div:nth-of-type(3) h5 {
        font-size: 2.5vmin;
    }

    .apartament-left-item > div:nth-of-type(6) {
        display: flex;
        gap: 4vw;
        margin: 1.5vw 0 4vw 6.5vw;
    }

    .apartament-left-item > div:nth-of-type(7) {
        display: none;
    }

    .apartament-left-item-center-720 {
        display: grid;
    }

    .section-apartament-tabs-720 {
        padding-right: 0;
        place-content: center;
        margin-bottom: 4vw;
    }

    .section-apartament-tabs-720 span {
        font-size: 2vw !important;
        font-weight: 400 !important;
    }

    .apartament-left-item-center-720{
        margin: 4vw 0;
    }

    .apartament-left-item-center-720 > div:first-of-type {
        display: flex;
        margin-bottom: 5vw;
    }

    .apartament-left-item-center-720 > div:first-of-type > div:first-of-type {
        display: grid;
        place-content: center;
        place-items: center;
        gap: 3vw
    }

    .apartament-left-item-center-720 > div:first-of-type > div:nth-of-type(n+2) {
        margin-left: auto;
        margin-right: auto;
    }

    .apartament-left-item-center-720 > div:first-of-type img {
        width: 100%;
    }

    .apartament-img-720 img {
        height: 50vw;
    }

    .apartaments-right-720 {
        position: absolute;
        right: 4vw;
        background-color: white;
        box-shadow: 5px 6px 9px 5px #BFBFBF40;
    }

    .apartaments-right-720 > div:first-of-type ul li {
        display: grid;
        place-items: end;
        gap: 0.5rem;
    }

    .apartaments-right-720 > div:first-of-type {
        margin: 2vw 3vw 0.5vw;
    }

    .apartaments-right-720 > div:first-of-type ul li h4 {
        color: var(--clr-primary-red);
        font-size: 2.4vw;
    }
    .apartaments-right-720 > div:first-of-type ul li span {
        color: white;
        background-color: var(--clr-greyscale-6);
        padding: 1vw;
    }

    .apartaments-right-720 > div:first-of-type ul li > div:first-of-type ul li h4 {
        color: var(--clr-primary-red);
        font-weight: 500;
        font-size: 2.4vw;
    }

    .apartaments-right-720 > div:nth-of-type(2) {
        margin: 2vw 3vw 4vw 3vw;
        border-top: 1px solid var(--clr-greyscale-4);
    }
    
    .apartaments-right-720 > div:nth-of-type(2) > ul {
        display: grid;
        gap: 0.5rem;
        margin-top: 3vw;
    }
    .apartaments-right-720 > div:nth-of-type(2) > ul li {
        display: flex;
        text-wrap: nowrap;
        gap: 1rem;
        justify-content: space-between;
    }

    .apartaments-right-720 > div:nth-of-type(2) > ul li span:first-of-type {
        color: var(--clr-primary-red);
        font-size: var(--fs-12-14);
    }

    .apartaments-right-720 > div:nth-of-type(2) > ul li span:nth-of-type(2) {
        color: var(--clr-greyscale-6);
        font-size: var(--fs-12-14);
    }

    .apartaments-right-720 a {
        background-color: var(--clr-primary-red);
        font-size: 1.7vw;
        color: white !important;
        margin: 2vw 3vw 4vw 3vw;
        padding: 1vw 0 1vw 0;
        place-content: center;
    }

    .apartaments-right-720 > div:nth-of-type(2) > div:first-of-type {
        background-color: var(--clr-primary-red);
        border-radius: 50%;
        aspect-ratio: 1;
        width: 5vw;
        place-content: center;
        display: grid;
        position: relative;
        left: -5vw;
        top: -2.5vw;
    }

    .apartaments-right-720 > div:nth-of-type(2) > div:first-of-type span {
        color: white;
        text-align: center;
        font-size: 2vw;
        font-weight: 400;
    }

    .apartament-item-bottom-720 {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        padding: 4vw;
    }

    .apartament-item-bottom-720 > div:first-of-type {
        display: grid;
        grid-template-columns: 1fr 1fr !important;
        place-content: center;
        gap: 2rem;
        grid-auto-flow: initial;
    }

    .apartament-item-bottom-720 > div:first-of-type div span {
        color: var(--clr-greyscale-8);
        font-size: var(--fs-12-14);
        font-weight: 400;
    }

    .apartament-item-bottom-720 > div:first-of-type div {
        display: flex;
        gap: 0.5rem;
        place-items: end;
    }

    .apartament-item-bottom-720 > div:first-of-type div img {
        width: 7vw;
    }

    .apartament-item-bottom-720 > div:nth-of-type(2)  img {
        width: 33vw;
        aspect-ratio: 1;
    }

    .section-htb-all-programms > h3 > span {
        display: inline;
    }

    /* ipoteka */
    .section-htb-mortgage-stuff {
        grid-template-columns: 1fr;
    }

    .section-filter-params-item  {
        width: 100%;
    }

    .section-htb-all-programms > div:first-of-type div span {
        display: inline;
    }

    .section-htb-all-programms > span:first-of-type {
        display: none;
    }

    .programmsFound {
        margin: 6vw 0;
    }

    .section-htb-sliders {
        margin-bottom: 50px;
    }

}

@media only screen and (max-width: 719px) {
    .section-htb-lemon {
        display: none !important;
    }
}

@media only screen and (max-width: 560px) {

    .section-filter > .section-heading-tabs, .section-apartament-tabs-720,
    .apartament-left-item-center-720 > div:first-of-type > div:nth-of-type(5), 
    .apart-condition-chb-wrap {
        display: none !important;
    }

    .apartament-heading-wrap {
        display: flex;
        flex-direction: column;

    }

    .apartament-left-item {
        padding: 2.5rem 1.5rem 2rem 1.5rem;
        width: var(--content-width);
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .apartament-heading-wrap h3,
    .apartament-heading-wrap h5 {
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        padding: 0;
        color: var(--clr-greyscale-8) ;
        margin: 0 !important;
    }

    .apartament-heading-wrap h2 {
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0.02em;
        color: var(--clr-primary-green);
    }

    .apartament-left-item > div:nth-of-type(3) h5 {
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
    }

    .apartament-left-item-center-720 > div:first-of-type > div:first-of-type {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
    }

    .apartament-left-item-center-720 > div:first-of-type > div:first-of-type a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
    }

    .apartament-left-item-center-720 > div:first-of-type > div:first-of-type {
        gap: 0;
    }

    .apartament-left-item-center-720 > div:first-of-type > div:first-of-type a img {
        width: 24px;
        aspect-ratio: 1;
    }

    .apartament-left-item-center-720 > div:first-of-type > div:first-of-type a:nth-of-type(3) {
        background-color: var(--clr-primary-red);
    }
    .apartament-left-item-center-720 > div:first-of-type > div:first-of-type a:nth-of-type(3) img {
        content: url('../img/icons/rate_solid.svg');
    }
    .mobile-only-visible:nth-of-type(2) {
        /* height: 350px;
        height: 200px; */
        height: clamp(12.5rem, 0rem + 62.5vw, 21.875rem);
    }

    .apartament-tower-floor-wrap {
        order: 1;
        padding-bottom: 15px !important;
        margin-bottom: 1.8125rem !important;
    }

    .apartament-left-item-center-720 > div:first-of-type {
        margin-bottom: -2rem;
    }

    .apartament-left-item > div:nth-of-type(5) {
        order:3 ;
    }

    .apartament-left-item > div:nth-of-type(6) {
        order: 4;
    }

    .apartament-left-item > div:nth-of-type(3) h5 {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: right;
    color: var(--clr-greyscale-8);
    }

    .apartament-left-item > div:nth-of-type(3) {
        /* border: none; */
        margin-top: 2.375rem;
    }

    .apartament-left-item > div:nth-of-type(6) img {
        max-width: 5vw;
    }

    .apartament-left-item > div:nth-of-type(5) {
        flex-direction: column;
        gap: 4.5px;
        width: 100%;
        max-width: 100%;
        place-items: center;
    }

    .apartament-left-item > div:nth-of-type(5) button {
        font-size: 14px !important;
        width: fit-content !important;
        font-weight: 400;
        line-height: 18px;
        max-width: 100%;
        /* width: 190px !important; */
        /* width: 290px !important; */
        width: clamp(11.875rem, 3.5417rem + 41.6667vw, 18.125rem) !important;
        height: 36px !important;
    }
    
    .apartament-left-item > div:nth-of-type(5) button:first-of-type {
        color: transparent;
        position: relative;
    }
    .apartament-left-item > div:nth-of-type(5) button:first-of-type::after {
        content: 'ЗАБРОНИРОВАТЬ';
        position: absolute;
        color: var(--clr-greyscale-0);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        
    }

    .apartament-left-item > div:nth-of-type(6) {
        margin: 0 !important;
        flex-direction: column;
        gap: 3px;
        margin-top: 20px !important;
    }

    

    .apartament-left-item > div:nth-of-type(5) span, .apartament-left-item > div:nth-of-type(6) span {
        font-size: 12px;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: 0px;
        text-align: center;
    }

    .apartament-left-item > div:nth-of-type(5) span, .apartament-left-item >  div:nth-of-type(6) div:last-of-type span {
        display: none;
    }

    .apartament-left-item > div:nth-of-type(5) span, .apartament-left-item >  div:nth-of-type(6) div:last-of-type .dn {
        display: block;
    }
















    /* show stuff */

    .mobile-only-visible {
        display: block !important;
    }

    .mobile-only-visible img {
        height: 100%;
    }

    .apartament-left-item {
        margin-bottom: 630px;
        margin-bottom: 1000px;
        margin-bottom: clamp(39.375rem, 8.5417rem + 154.1667vw, 62.5rem);
    }

    .mobile-only-visible:nth-of-type(3) {
        position: absolute;
        bottom: 0rem;
        left: 50%;
        transform: translateY(calc(100% + 48px)) translateX(-50%);
        width: 250px;
        width: 425px;
        width: clamp(15.625rem, 1.0417rem + 72.9167vw, 26.5625rem);
    }

    .mobile-only-visible:nth-of-type(4) {
        position: absolute;
        bottom: 0rem;
        left: 50%;
        transform: translateY(calc(240% + 48px)) translateX(-50%);
        width: 250px;
        width: 425px;
        width: clamp(15.625rem, 1.0417rem + 72.9167vw, 26.5625rem);
    }

    /*  */

    .apartment-plan-wrap {
        display: none;
    }

    .apartament-item-bottom-720 {
        padding: 0;
        flex-direction: column;
        gap: 0;
    }

    .apartament-item-bottom-720 > div:first-of-type {
        display: flex;
        overflow: scroll;
        place-content: start;
        width: var(--content-width) ;
        gap: 20px; 
    }

    .apartament-item-bottom-720 > div:first-of-type::-webkit-scrollbar {
        width: 0;
    }

    .apartament-item-bottom-720 > div:first-of-type div {
        flex-direction: column;
        place-items: center;
    }

    .apartament-item-bottom-720 > div:first-of-type div img {
        content: url('../img/icons/window-block-green.svg');
        width: 55px;
        height: 52px;
    }

    /* ipoteka */

    .section-htb-all-programms > div:first-of-type > div h3 {
        color: var(--clr-greyscale-4);
        text-transform: none;
    }

    .section-htb-all-programms > div:first-of-type {
        padding-bottom: 45px;
    }

    .section-htb-all-programms > div:first-of-type > div span {
        display: none;
    }

    .htb-table-head div img {
        max-width: 6vw;
    }

    .htb-table-head div {
        font-size: 3vw;
        text-wrap: nowrap;
        gap: 1vw;
        font-weight: 400;
    }

    .htb-table-item span:first-of-type, .htb-table-head > div:first-of-type {
        padding-left: 0;
    }

    .htb-table-head, .htb-table-item {
        grid-template-columns: 2fr 1fr 1fr;
        gap: 4vw;
    }

    .htb-table-item span, .htb-table-body div:nth-of-type(6) span {
        font-size: 3vw;
    }

    .programmsFound, #programmsFound {
        font-size: 1.6vmax;
        font-weight: 400;
        font-family: Geologica;
        margin: 4vw 0;
        place-items: center;
    }

    .section-htb-info-dump p {
        width: var(--content-width);
        margin-bottom: -120px;
    }

    .section-htb-info-dump br {
        display: none;
    }

}

/* le scrollbar appears at 378 */

@media only screen and (max-width: 378px) {
    .apartament-item-bottom-720 > div:first-of-type {
        width: clamp(18.5rem, -0.1207rem + 93.1034vw, 21.875rem) ;
    }

    .section-lot-card-controls {
        display: flex;
        width: fit-content;
    }
}