@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&family=PT+Sans:ital,wght@0,700;1,400&display=swap');

/* defaults */

body {
    font-family: 'Geologica', sans-serif;

    --clr-primary-red: #d51317;
    --clr-primary-darkred: #AC0F12;
    --clr-primary-green: #009640;
    --clr-primary-darkgreen: #00652b;
    --clr-primary-yellow: #ffed00;
    --clr-darkblue: #3D4452;
    --clr-greyscale-0: #ffffff;
    --clr-greyscale-4: #cecece;
    --clr-greyscale-6: #9d9d9d;
    --clr-greyscale-8: #353535;
    --clr-section-bg: rgb(255, 255, 255);
    --clr-mobile-menu-bg: #F2F4F8;
    --content-1280: 70rem;
    --content-720: 40rem;
    --content-320: 17rem;

    display: grid;
    place-items: center;

    /* for fixed header */
    padding-top: 60px;
}

/* hidescrollbar */

.hsb {
    scrollbar-width: none;
}

.hsb::-webkit-scrollbar {
    position: absolute;
    scrollbar-width: none;
}


#nav-mobile {
    display: none;
    
}

#header-wrap, footer, .section-wrap, #section-hero-additional-menu-wrap {
    width: var(--content-width);
    overflow-y: visible;
    position: relative;
}

.full-bleed {
    box-shadow: 0 0 0 100vmax var(--clr-section-bg);
    clip-path: inset(0 -100vmax);
}

.cp {
    cursor: pointer;
}

.fc {
    display: flex;
    place-items: center;
}

.gc {
    display: grid;
    place-items: center;
}

.dn {
    display: none;
}

h1,h2,h3, .uc {
    text-transform: uppercase;
}


.btn {
    background-color: black;
    color: white;
    padding: .75rem 1rem;
    font-size: 1rem;
}

.btn-green {
    color: var(--clr-greyscale-0);
    background-color: var(--clr-primary-green);
}

.btn-red {
    color: var(--clr-greyscale-0);
    background-color: var(--clr-primary-red);
}

header {
    width: 100%;
    display: grid;
    place-items: center;
    background-color: white;
    position: fixed;
    top: 0;
    overflow-y: visible;
    z-index: 10;
}





/* 1280px */



        /* query indicator */
        /* delete after */
        body::after {
            content: '1280px';
            position: fixed;
            color: white;
            font-size: 1rem;
            background-color: red;
            font-weight: 700;
            padding: 1rem;
            opacity: .75;
            bottom: 0;
            left: 0;
        }
        /* --------------- */


body {
    --content-width: clamp(var(--content-720), 2.85rem + 84vw, var(--content-1280));
    --fs-heading: 42px;
}



    /* HEADER */

.header-logo {
    height: 60px;
    /* width: 60px; */
    display: flex;
    place-items: center;
}

.header-logo img {
    width: 36px;
    height: 36px;
}
 
#header-wrap input {
    /* replace with display none */
    display: none;
}

#header-wrap {

    display: flex;
    place-items: center;
    justify-content: space-between;
    width: var(--content-width);
    top: 0;
}




nav ul {
    display: flex;
    justify-content: space-between;
    gap: clamp(.5rem, 1.5vw, 4rem);
}

nav ul li a {
    color: var(--clr-greyscale-8);
    font-weight: 300;
    line-height: 20px;
}

nav ul li a, #header-phone {
    font-size: clamp(0.5rem, -0.1429rem + 1.4286vw, 1rem);
}

.nav-contrast {
    color: var(--clr-primary-green);
}

#header-phone {
    color: var(--clr-primary-green);
    display: block;
    padding-right: 1rem ;
    line-height: 23px;
}

#header-star {
    padding-right: clamp(.25rem, 1vw, 1rem);
}

.header-icon, #header-menu-checkbox-label {
    height: 60px;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
}

#header-menu-checkbox-label {
    display: none;
}

#header-call {
    background-color: var(--clr-primary-red);
}
#header-comment {
    background-color: var(--clr-primary-green);
}

.header-icon-wrap {
    display: flex;
    place-items: center;
}



    /* SECTIONS */


h2 {
    font-size: clamp(1.75rem, 1.4583rem + 1.4583vw, 2.625rem);
    color: var(--clr-greyscale-8);
    font-weight: 400;
    width: 100%;
}

section {
    display: grid;
    place-items: center;
    width: 100%;
    overflow-x: hidden;
}

.section-wrap {
    height: 100%;
}


    /* SECTION HERO */

#section-hero {
    height: clamp(31.25rem, 23.2143rem + 17.8571vw, 37.5rem);
    background: rgb(19, 19, 51);
    background: url("../img/hero-bg.webp");
    background-size: cover;
    background-position: 25% 0%;
    position: relative;
    margin-bottom: 7rem;
    overflow: visible;
}


#section-hero h2 {
    padding-block: 1rem;
}

#section-hero-info-wrap * {
    color: var(--clr-greyscale-0);
}

#section-hero-info-wrap > span:first-child {
    font-size: clamp(1rem, 0.95rem + 0.2vw, 1.125rem);
    display: block;
    width: 80%;
    font-weight: 400;
    text-wrap: balance;
    /* max-width: 400px; */
}

#section-hero-info-wrap > div {
    display: flex;
    place-items: start;
    flex-wrap: wrap;
    gap: 2rem;
    place-items: center;
}

#section-hero-info-wrap > div span {
    font-size: clamp(1rem, 0.65rem + 1.65vw, 2rem);
}

#section-hero h2 {
    color: var(--clr-greyscale-0);
    font-size: clamp(1.5rem, 0.875rem + 3.125vw, 3.375rem);
}

#section-hero-promo-banner {
    position: absolute;
    background-color: var(--clr-primary-red);
    height: 156px;
    width: 239px;
    color: var(--clr-greyscale-0);
    padding: 15px 50px 21px 24px;
    right: 0;
    bottom: 30%;
}

#section-hero-promo-banner > span:first-of-type {
    color: var(--clr-primary-yellow);
    font-size: 14px;
    font-weight: 700;
}

#section-hero-promo-banner > span:last-of-type {
    max-width: 10ch;
    display: block;
    font-size: 20px;
    font-weight: 300;
    margin-block: 4px 4px;
}

#section-hero-promo-banner > div {
    gap: .5rem;
}

#section-hero-promo-banner > div span {
    font-size: 12px;
    color: var(--clr-greyscale-0);
    font-weight: 700;
    display: flex;
    gap: .5rem;
    place-items: center;
}

#section-hero-complex-banner {
    width: var(--content-width);
    height: fit-content;
    background-color: var(--clr-primary-green);
    position: absolute;
    bottom: 0;
    padding: 36px clamp(.5rem, 1.75vw, 2rem);
}

#section-hero-complex-banner-wrap {
    justify-content: space-between;
    width: 100%;
    gap: .25rem;
    
    /* flex-wrap: wrap; */
}

#section-hero-complex-banner-wrap h1 {
    color: var(--clr-greyscale-0);
    font-weight: 400;
    font-size: clamp(1rem, 0.5833rem + 2.0833vw, 2.25rem);
    line-height: 23px;
}

#section-hero-complex-banner-wrap h1 span {
    font-size: clamp(0.625rem, 0.375rem + 1.25vw, 1.375rem);
    white-space: nowrap;

}

.hero-complex-wrap {
    gap: clamp(.15rem, .25rem + .55vw, 2.5rem);
}

.hero-complex-wrap > div {
    gap: clamp(.25rem, 0.2rem + 3.9286vw, .5rem);
}

.hero-complex-wrap > div img {
    height: clamp(1rem, 1rem + 1.75vw, 2.25rem);
}


.hero-complex-wrap span {
    font-size: clamp(0.5rem, 0.4rem + 0.5vw, 0.875rem);
    color: var(--clr-greyscale-0);
    max-width: 20ch;
    width: fit-content;
    min-width: 5ch;
    text-wrap: balance;
}

.hero-complex-wrap div:nth-of-type(2) span {
    width: 23ch;
}



    /* SECTION HERO ADDITIONAL AFTER MENU */

#section-hero-additional-menu {
    box-shadow: 5px 6px 9px 5px #D2D2D226;
    width: 100%;
    display: grid;
    place-items: center;
    position: absolute;
    top: 100%;
    height: 60px;
}

#section-hero-additional-menu-wrap {
    background: var(--clr-greyscale-0);
    position: absolute;
    top: 0%;
    display: flex;
    justify-content: space-between;
    place-items: center;
    height: 60px;
}

#section-hero-additional-menu-wrap ul {
    display: flex;
    justify-content: space-around;
    margin-right: max(10px, 20px);
    width: 80%;
}

#section-hero-additional-menu-wrap li {
    height: 60px;
    display: grid;
    place-items: center;
}

#section-hero-additional-menu-wrap li a {
    font-size: 12px;
    white-space: nowrap;
    font-size: clamp(0.57rem, -0.1529rem + 1.35vw, .85rem);
}

#section-hero-additional-menu-wrap .btn {
    font-size: clamp(0.5rem, 0.0179rem + 1.0714vw, 0.775rem);
    white-space: nowrap;
}

.tab-underline {
    position: relative;
}

.tab-underline::after {
   content: '';
   position: absolute;
   width: 100%;
   height: 4px;
   background-color: var(--clr-primary-darkred);
   bottom: 0;

}

    /* SECTION HOUSING COMPLEX */

.section-housing-complex-wrap {
    width: var(--content-width);
    height: clamp(31.25rem, 24.2143rem + 17.8571vw, 37.5rem);
    background: rgb(19, 19, 51);
    background: url("../img/housing-complex-bg-15.webp");
    background-size: cover;
    background-position: 40% 0%;
    overflow-y: visible;
    position: relative;
}

.section-housing-complex-360 img {
    position: absolute;
    width: clamp(3.6rem, 3.3081rem + 0.8649vw, 4rem);
    aspect-ratio: 1;
}

/* A */
.section-housing-complex-wrap > .section-hc-circle:nth-child(2) {
    /* left: clamp(10.75rem, 12.7162rem + 29.7297vw, 39rem); */
    right: clamp(14.0625rem, 3.9375rem + 30vw, 27.9375rem);
    top: 14rem;
}

/* B */
.section-housing-complex-wrap > .section-hc-circle:nth-child(3) {
    top: 6rem;
    /* right: clamp(22.25rem, 12.5rem + 38.5405vw, 47rem); */
    left: clamp(14.375rem, 11.1824rem + 9.4595vw, 18.75rem);
}

.section-hc-circle {
    position: absolute;
    font-size: clamp(1.0125rem, 0.8392rem + 0.5135vw, 1.25rem);
    color: var(--clr-greyscale-0);
    background-color: var(--clr-primary-red);
    width: clamp(3.24rem, 2.6854rem + 1.6432vw, 4rem);
    aspect-ratio: 1;
    border-radius: 50%;
}

.section-housing-complex-tower,
.section-housing-complex-info {
    background-color: var(--clr-primary-red);
    width: clamp(14.375rem, 13.1892rem + 3.5135vw, 16rem);
    height: fit-content;
    padding: 1.5rem 2.5rem 2rem 2rem; 
    position: absolute;
    bottom: 0;
    transform-origin: bottom left;
    transform: scale(1);
    
}

.section-housing-complex-info {
    transform-origin: top right;
    transform: scale(1);
    padding-inline: 1.5rem;

}

.section-housing-complex-tower h3,
.section-housing-complex-tower a,
.section-housing-complex-tower span {
    color: var(--clr-greyscale-0);
    
}

.section-housing-complex-tower h3,
.section-housing-complex-info h4 {
    white-space: nowrap;
    font-size: clamp(1.125rem, 1.0338rem + 0.2703vw, 1.25rem);
    font-weight: 400;
}

.section-housing-complex-tower ul,
.section-housing-complex-info ul{
    margin-top: 2.625rem;
    padding-top: 1.35rem;
    border-top: 1px solid var(--clr-greyscale-0);
}

.section-housing-complex-info ul {
    border-top: 1px solid var(--clr-greyscale-4);
}

.section-hc-info-heading span {
    background: var(--clr-greyscale-4);
    font-size: clamp(0.625rem, 0.4643rem + 0.3571vw, 0.75rem);
    padding: 0.375rem 0.5rem;
    margin-right: .5rem;
    display: block;
    white-space: nowrap;
}

.section-hc-info-heading h4 {
    color: var(--clr-primary-red);
}


.section-housing-complex-tower ul li,
.section-housing-complex-info ul li {
    display: flex;
    justify-content: space-between;
}

.section-housing-complex-tower ul li span,
.section-housing-complex-info ul li span {
    line-height: 1.8rem;
    font-size: clamp(0.7875rem, 0.7236rem + 0.1892vw, 0.875rem);
}

.section-housing-complex-tower .btn,
.section-housing-complex-info .btn {
    outline: 1px solid var(--clr-greyscale-0);
    background-color: var(--clr-primary-red);
    display: block;
    width: fit-content;
    margin-top: 2rem;
    font-size: 0.875rem;
    white-space: nowrap;
}

.section-housing-complex-info {
    width: clamp(14.375rem, 13.1892rem + 3.5135vw, 16rem);
    background-color: var(--clr-greyscale-0);
    top: clamp(.75rem, -9.5rem + 14.8438vw, 2.375rem);
    right: clamp(0rem, -7.5rem + 11.7188vw, 1.875rem);
}

.section-hc-list-wrap {
    position: relative;
}

.section-housing-complex-info .section-hc-circle {
    position: absolute;
    top: -2rem;
    left: -3.5rem;
}



    /* secion hc table */

.section-housing-complex-table {
    margin-top: 2.5rem;
    width: var(--content-width);
    display: flex;
    justify-content: space-between;
}

.section-housing-complex-table-item:first-of-type {
    margin-right: calc(-4rem + 9vw);
}

.section-housing-complex-table-item div {

    font-size: clamp(1.0125rem, 0.8679rem + 0.3214vw, 1.125rem);
    color: var(--clr-primary-red);
}

.section-housing-complex-table-item span {
    font-size: clamp(0.7875rem, 0.675rem + 0.25vw, 0.875rem);
    color: var(--clr-greyscale-6);
}


/* SECTION LOCATION */

.section-location  {
    margin-top: clamp(2.875rem, 1.4211rem + 4.4737vw, 5rem);
}

.section-location-label-group label {
    padding-bottom: .75rem;
    
}


.section-location-tab {
    display: none;
}

.horizontalscroll {
    overflow-x: scroll;
    width: 96vw;
}

.horizontalscroll::-webkit-scrollbar {
    position: absolute;
}


.section-location-wrap h2 {
    width: 100%;
    margin-bottom: 1.5rem;
}

.section-location-tab-wrap {
    display: flex;
    gap: 1rem;
    padding-right: 725px;   
}


.section-location-tab-wrap::-webkit-scrollbar {
    position: absolute;
}


.section-location-tab-wrap span {
    padding-bottom: .75rem;
    color: var(--clr-greyscale-6);
    font-size: clamp(1rem, 0.8393rem + 0.3571vw, 1.125rem);
    white-space: nowrap;
}

.section-location-tab-selected {
    color: var(--clr-primary-green) !important;
    border-bottom: 2px solid var(--clr-primary-green);
}

.section-location-tab-wrap br{
    display: none;
}

    /* section location content grid */

.seciton-location-item-adress {
    display: flex;
    gap: .75rem;
}

.seciton-location-item-adress > div > span {
    font-size: clamp(1rem, 0.25rem + 1.25vw, 1.25rem);
    color: var(--clr-darkblue);
}

.section-loc-map-point {
    height: clamp(1.8225rem, 1.4805rem + 1.71vw, 2.25rem);
    aspect-ratio: 1;
}

.section-location-item-text p {
    font-size: clamp(0.875rem, 0.5536rem + 0.7143vw, 1.125rem);
}

.section-location-content-item {
    display: grid;
    grid-template-columns: 26% 70%;
    column-gap: clamp(1rem, -0.2857rem + 2.8571vw, 2rem);
    row-gap: 1rem;
}

.seciton-location-item-around-wrap {
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, -0.2857rem + 2.8571vw, 2rem);
    font-weight: 400;
}

.section-location-around-item {
    padding: 1rem;
    width: 100%;
    height: 50%;
    background-color: #3D4452;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
}

.section-location-around-item > div {
    bottom: 0;
    right: 0;
    position: absolute;
    background-color: var(--clr-primary-red);
    width: fit-content;
}

.section-location-around-item > div > div {
    background-color: var(--clr-primary-green);
    padding: .45rem .5rem .2rem .5rem;
}

.section-location-around-item > div > span {
    color: var(--clr-greyscale-0);
    padding: 0 .75rem;
}

#loc-item-00 {
    background-image: url(../img/loc_around_1.webp);
}

#loc-item-01 {
    background-image: url(../img/loc_around_2.webp);
}

#loc-item-10 {
    background-image: url(../img/loc_around_3.webp);
}

#loc-item-11 {
    background-image: url(../img/loc_around_4.webp);
}

#loc-item-20 {
    background-image: url(../img/loc_around_5.webp);
}

#loc-item-21 {
    background-image: url(../img/loc_around_6.webp);
}

.section-location-around-item > span {
    color: var(--clr-greyscale-0);
    font-size: clamp(0.875rem, 0.3929rem + 1.0714vw, 1.25rem);
}

    /* map */

    .section-location-map-wrap {
        overflow: scroll;
        /* width: clamp(25rem, -9.7143rem + 77.1429vw, 52rem);; */
        height: clamp(28.125rem, 24.1071rem + 8.9286vw, 31.25rem);
        position: relative;
    }

    .section-location-map-wrap::-webkit-scrollbar {
        display: none;
    }

    .section-location-map {
        width: 800px;
        height: 500px;
        transform: scale(1);
        transform-origin: center center;
        display: block;
        background-image: url('../img/loc_map_1.webp');
        background-size: cover;
        transition: transform .25s ease;
        cursor: grab;
    }

    /* vajno? */
    .section-location-map:focus {
        cursor: grabbing !important;
    }

    .section-location-map-wrap-container {
        position: relative;
    }

    .section-location-legend-wrap {
        position: absolute;
        padding:  clamp(0.5rem, -0.7857rem + 2.8571vw, 1.5rem) clamp(0.5rem, -0.7857rem + 2.8571vw, 1.5rem);
        background-color: var(--clr-primary-green);
        top: 0;
        left: 0;
        z-index: 2;
    }
    .section-location-map-legend {
        margin-bottom: 1rem;
    }

    .section-location-legend-wrap .btn {
        background-color: var(--clr-primary-green);
        outline: 1px solid var(--clr-greyscale-0);
        display: block;
        margin-top: 1rem;
        width: fit-content;
        padding: 0.5rem 1.5rem;
        color: var(--clr-greyscale-0);
    }

    .section-location-map-legend li {
        display: flex;
        place-items: center;
        gap: .75rem;
        color: yellow;
    }

    .section-location-legend-wrap .btn,
    .section-location-map-legend li span {
        font-size: clamp(0.5rem, 0.375rem + 0.625vw, 0.875rem);
    }

    .section-location-map-zoom-wrap {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        bottom: 1.5rem;
        right: 1rem;
        z-index: 2;
    }

    .section-location-map-zoom-wrap > span {
        width: 64px;
        aspect-ratio: 1;
        background-color: var(--clr-primary-red);
        position: relative;
    }

    .section-location-map-zoom-wrap > span > span {
        display: block;
        background-color: var(--clr-greyscale-0);
        height: 2px;
        width: 40%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .section-location-map-zoom-wrap > span:nth-of-type(2) > span:nth-of-type(2) {
        transform: translate(-50%, -50%) rotate(90deg);
        transform-origin: center, center;
    }

    .section-location-map-con {
        position: absolute;
        z-index: 1;
        background-color: var(--clr-primary-green);
        padding: .25rem .25rem .0rem .25rem;
        top: 20%;
        left: 80%;

    }

    .section-location-map-con img {
        filter: brightness(0) invert(77%) sepia(89%) saturate(966%) hue-rotate(0deg) brightness(106%) contrast(104%);
    }

    .section-location-map .section-location-map-con:nth-of-type(1) {
        top: 5%;
        left: 47%;
    }

    .section-location-map .section-location-map-con:nth-of-type(2) {
        top: 62%;
        left: 62%;
    }

    .section-location-map .section-location-map-con:nth-of-type(3) {
        top: 62%;
        left: 50%;
        
    }

    .section-location-map .section-location-map-con:nth-of-type(4) {
        top: 85%;
        left: 64%;
    }

    .section-location-map .section-location-map-con:nth-of-type(5) {
        top: 60%;
        left: 44%;
    }

    .section-location-map .section-location-map-con:nth-of-type(6) {
        top: 35%;
        left: 90%;
    }

    .section-location-map .section-location-map-con:nth-of-type(7) {
        top: 44%;
        left: 48%;
    }

    .section-location-map .section-location-map-con:nth-of-type(8) {
        top: 18%;
        left: 87%;
    }

    /* section advantages */

    .section-advantages-scroller {
        width: 100%;
    }
    .section-advantages {
        margin-top: 4rem;
    }

    .section-advantages h2 {
        margin-bottom: 1rem;
        color: var(--clr-darkblue);
    }

    .section-advantages-scroller > div {
        width: clamp(14rem, 11.4286rem + 5.7143vw, 16rem);
        height: clamp(20.25rem, 17.3571rem + 6.4286vw, 22.5rem);
        background-color: var(--clr-darkblue);
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
    }


    .section-advantages-scroller > div > span {
        position: absolute;
        bottom: 20px;
        left: 16px;
        font-size: 20px;
        color: var(--clr-greyscale-0);
        width: 10ch;
    }

    .section-advantages-scroller > div:nth-of-type(1) {background-image: url('../img/Advantage_1.webp');}
    .section-advantages-scroller > div:nth-of-type(2) {background-image: url('../img/Advantage_2.webp');}
    .section-advantages-scroller > div:nth-of-type(3) {background-image: url('../img/Advantage_3.webp');}
    .section-advantages-scroller > div:nth-of-type(4) {background-image: url('../img/Advantage_4.webp');}
    .section-advantages-scroller > div:nth-of-type(5) {background-image: url('../img/Advantage_5.webp');}
    .section-advantages-scroller > div:nth-of-type(6) {background-image: url('../img/Advantage_6.webp');}

    .section-advantages-scroller > div:nth-of-type(5) span {
        width: 15ch;
    }

    .section-advantages-scroller > div:nth-of-type(6) span {
        width: 12ch;
    }

    .horizontal-scroller {
        display: grid;
        grid-auto-flow: column;
        gap: 1rem;
        overflow-x: auto;
        
    }

    .snaps-inline {
        scroll-snap-type: inline mandatory ;
    }

    .snaps-inline > * {
        scroll-snap-align: start;
    }

    /* scroller controls */

    .horizontal-scroller-contols {
        display: flex;
        gap: 0.75rem;
    }

    .horizontal-scroller-contols > span {
        display: block;
        width: 20px;
        height: 2px;
        background-color: var(--clr-greyscale-4);
        transition: all .4s;
    }

    .current-scroll {
        width: 75px !important;
        background-color: var(--clr-primary-green) !important;
    }

    .section-advantages-contols {
        margin-block: .5rem 1rem;
    }












/* 720px */

@media only screen and (max-width: 720px) {

    /* delete after */
    body::after {
        content: '720px';
    }
    

    body {
        --content-width: clamp(var(--content-320), -2.125rem + 95vw, var(--content-720));
        --fs-heading: 32px;
    }



        /* HEADER */

    header, #header-wrap, nav, ul {
        overflow-y: visible;
    }

    #nav-desktop, #header-star, #header-phone {
        display: none;
    }




    #header-menu-checkbox-label {
        display: flex;
        padding-left: 1.5rem;
    }

    #section-hero-info-wrap > div {
        flex-direction: column;
        place-items: start;
    }


        /* MOBILE MENU */

    #header-menu-checkbox-label {
        position: unset;
        z-index: 2;
        background-image: url('../icons/header_burger.svg');
        background-repeat: no-repeat;
        background-position: 50% 50%;
    } 

    header:has(#header-menu-checkbox:checked) {
        background-color: var(--clr-mobile-menu-bg);
    }


    #header-menu-checkbox:checked ~ .header-icon-wrap #header-call,
    #header-menu-checkbox:checked ~ .header-icon-wrap #header-comment {
        display: none;
    }

    header:has(#header-menu-checkbox:checked) #header-menu-checkbox-label {
        background-image: url('../icons/header_close.svg');
        transform: translateX(1.5rem);
    }



    #header-menu-checkbox:checked + #nav-mobile {
        display: block;
        position: absolute;
        width: 100%;
        /* height: fit-content; */
        top: 0;
        transform: translateY(60px);
        background: var(--clr-mobile-menu-bg);
        --clr-section-bg: var(--clr-mobile-menu-bg);
        z-index: 10;
        overflow: visible;
        padding-block: 25px 50px;
    }


    #nav-mobile ul {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    #nav-mobile ul li {
        padding: 12px 0 0 0;
    }

    #nav-mobile > ul > li > a,
    #nav-mobile ul ul li a {
        color: var(--clr-primary-darkgreen);
        font-size: 14px;
    }

    #nav-mobile ul ul li {
        /* padding-left: 1rem; */
        display: flex;
        place-items: center;
    }

    .nav-soon {
        display: flex;
        place-items: center;
        opacity: .6;
        white-space: nowrap;
    }

    .nav-soon + span {
        color: var(--clr-primary-red);
        background-color: var(--clr-primary-yellow);
        font-size: 6px;
        padding: 3px 6px;
        margin-left: 10px;
    }

        /* SECTION HERO */

    #section-hero-additional-menu {
        display: none;
    }



    /* .hero-complex-wrap {
        gap: clamp(1.125rem, -0.6429rem + 3.9286vw, 2.5rem);
        flex-direction: column;
    } */

    #section-hero-complex-banner-wrap {
        flex-wrap: wrap;
        gap: 1rem;
        position: unset;
        z-index: 1;
        
    }

    

    #section-hero-complex-banner {
        bottom: -15%;
        padding: 32px;
    }

    #section-hero-promo-banner {
        bottom: 2%;
        right: 5%;
        z-index: 1;
    }

    /* SECTION HOUSING COMPLES */

    .section-housing-complex-wrap {
        width: 100%;
    }

    .section-housing-complex-tower,
    .section-housing-complex-info {
        transform: scale(.8);
  
    }

    .section-housing-complex-info {
        transform: scale(.8);
    }

        /* seciton hc table */

    .section-housing-complex-table {
        flex-wrap: wrap;
    }
    
    .section-housing-complex-table-item:first-of-type {
        margin-bottom: 2.5rem;
        width: 100%;
    }

    /* section location grid */
    
    .section-location-content-item {
        grid-template-columns: .9fr .9fr 1.2fr
    }

    /* adress */
    .seciton-location-item-adress {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
    }

    /* paragraph */
    .section-location-item-text {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
    }

    /* 2 tiles with nearby objects */
    .seciton-location-item-around-wrap {
        flex-direction: row;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
    }
    /* them size */
    .section-location-around-item {
        height: 184px;
        width: 200px;
    }

    /* MAP */
    .section-location-map-wrap-container {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;

        width: 98vw;
        transform: translate(-4vw);
    }

    /* section advantages scroller */

    .section-advantages-scroller {
        width: 95vw;
    }



}














/* 540px */

@media only screen and (max-width: 560px) {

        /* delete after */
        body::after {
            content: '540px';
        }
        /* --------------- */

    /* SECION HERO */

    #section-hero-promo-banner {
        top: 0;
        width: 100%;
        left: 0;
        box-shadow: 0 0 0 100vmax var(--clr-primary-red);
        clip-path: inset(0 -100vmax);
        height: fit-content;
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
    }
    #section-hero-promo-banner span:nth-of-type(1) {
        display: none;
    }

    #section-hero-promo-banner span:nth-of-type(2) {
        white-space: nowrap;
        font-size: clamp(0.75rem, 0.35rem + 2vw, 0.875rem);
        font-weight: 700;
    }

    #section-hero-complex-banner {
        bottom: -30%;
    }

    #section-hero-complex-banner-wrap {
        height: fit-content;
        flex-direction: column;

    }

    #section-hero-complex-banner-wrap > *,
    .hero-complex-wrap > * {
        width: 100%;
    }

    .hero-complex-wrap {
        flex-direction: column;
        gap: .5rem;
    }

    #section-hero-complex-banner-wrap h1 span {
        font-size: 1.125rem;
        line-height: 2rem;
        font-weight: 400;
    }
    #section-hero-complex-banner-wrap h1 {
        font-size: 1.8rem;
    }

    .hero-complex-wrap span {
        font-size: 0.75rem;
    }

    #section-hero-info-wrap {
        padding-bottom: 3rem;
    }

    #section-hero {
        margin-bottom: 12rem;
    }



    /* SECTION HOUSING COMPLEX */

    .section-housing-complex-360 img {
        display: none;
    }

    .section-housing-complex-wrap > .section-hc-circle {
        display: none;
    }



    /* seciton hc table */

    .section-housing-complex-table {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1rem;
    }

    /* grid area */

    .section-housing-complex-table-item:nth-of-type(1) {
        grid-column-start: 2;
        grid-row-start: 4;
    }

    .section-housing-complex-table-item:nth-of-type(2) {
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .section-housing-complex-table-item:nth-of-type(3) {
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .section-housing-complex-table-item:nth-of-type(4) {
        grid-column-start: 1;
        grid-row-start: 3;
    }

    .section-housing-complex-table-item:nth-of-type(5) {
        grid-column-start: 1;
        grid-row-start: 4;
    }

    .section-housing-complex-table-item:nth-of-type(7),
    .section-housing-complex-table-item:nth-of-type(8) {
        white-space: nowrap;
    }

    /*  */


    
    .section-housing-complex-table-item {
        width: 50%;
    }

    .section-housing-complex-table-item:first-of-type {
        margin-bottom: 0;
    }

    .section-housing-complex-info {
        display: none;
    }

    .section-housing-complex-tower {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 60%);
        width: var(--content-width);
    }

    .section-housing-complex-wrap {
        margin-bottom: 13rem;
    }

    /* SECTION LOCATION */

    .section-location-tab-wrap br{
        display: block;
    }

    .section-location-tab-wrap {
        padding-right: 480px;   
    }
    

    /* section location grid */
    
    .section-location-content-item {
        grid-template-columns: 1fr;
    }

    /* adress */
    .seciton-location-item-adress {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
    }

    /* paragraph */
    .section-location-item-text {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
    }

    /* 2 tiles with nearby objects */
    .seciton-location-item-around-wrap {
        flex-direction: column;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
    }
    /* them size */
    .section-location-around-item {
        width: 100%;
        height: 230px;
    }

    .section-location-around-item > span {
        font-size: 1.25rem;
    }

    /* MAP */
    .section-location-map-wrap-container {
        display: none;
    }

    /* section advantages scroller */

    .section-advantages-scroller {
        width: 99vw;
        transform: translateX(-6vw) scaleX(1.01);
    }




}







/* 320px */

  @media only screen and (max-width: 320px) {

    /* delete after */
    body::after {
        content: '320px';
    }
    /* --------------- */

body {
    --content-width: clamp(17rem, -1.9rem + 94vw, 40rem);
    --fs-heading: 28px;
}

/* SECTION HERO */



}